.body__container {
  height: 100vh;
  background-color: rgb(193, 218, 255);
}

.form__container {
  width: 90%;
  display: flex;

  margin-inline: auto;
  margin-top: -6rem;

  padding: 2rem;
  background-color: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
