body {
  font-size: 2rem;
  font-family: var(--font-primary-regular), sans-serif;
  letter-spacing: -0.025rem;
  background-color: rgb(193, 218, 255);
  height: 100vh;
}

h2 {
  font-family: var(--font-primary-bold);
  color: var(--color-primary);
  margin-bottom: 0.75rem;
  font-size: 3rem;
}

.title {
  color: var(--color-primary);
  margin-bottom: 0.25rem;
}

.info {
  color: var(--color-secondary);
}

.description {
  display: inline-block;
  line-height: 1.4;
  color: var(--color-secondary);
}
