body {
  font-size: 1.4rem;
  font-family: var(--font-primary-regular), sans-serif;
  letter-spacing: -0.025rem;
}

h2 {
  font-family: var(--font-primary-bold);
  color: var(--color-primary);
  margin-bottom: 0.75rem;
}

.title {
  color: var(--color-primary);
  margin-bottom: 0.25rem;
}

.info {
  color: var(--color-secondary);
}

.description {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--color-secondary);
}
