.hidden {
  opacity: 0;
  visibility: hidden;
}

.show {
  display: block;
}

.flex {
  display: flex;
}

.u-margin-bot-small {
  margin-bottom: 0.75rem;
}

.u-margin-bot-large {
  margin-bottom: 1.5rem;
}
