:root {
  --color-primary: hsl(228, 45%, 44%);
  --color-secondary: hsl(0, 0%, 60%);
  --color-tertiary: hsl(216, 100%, 94%);
  --color-quaternary: hsl(243, 100%, 62%);

  --color-primary-light: hsl(227, 70%, 88%);

  --font-primary-regular: "ubuntu-regular";
  --font-primary-medium: "ubuntu-medium";
  --font-primary-bold: "ubuntu-bold";
}
